@model Online_Retail_Store.Models.Customer

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h2>Details</h2>

    <div>
        <h4>Customer Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-default" })
    </p>


    <h2>My Orders</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Products</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Status</th>
                <th>Order Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@order.OrderId</td>
                    <td>
                        <ul>
                            @foreach (var detail in order.OrderDetails)
                            {
                                <li>@detail.Product.Name</li>
                            }
                        </ul>
                    </td>
                    <td>
                        @order.OrderDetails.Sum(od => od.Quantity)
                    </td>
                    <td>
                        @order.TotalAmount.ToString("C") <!-- Assuming TotalAmount is properly calculated -->
                    </td>
                    <td>@order.Status</td>
                    <td>@order.OrderDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

